%pre
  %table
    %tr
      %td Usuário
      %td Data de venda
      %td Quantidade de produtos vendidos
    - @sells.each do |sell|
      %tr
        %td= sell.user.name
        %td= sell.created_at
        %td= sell.products.count

