
%table{ :style => "width: 100%;" }
  %th{ :align => "center" }
    Gerência de Vendas

#sells_mng.has_a_datatable
  %table#sells
    %thead
      %tr
        %td
          %center
            Código
        %td
          %center
            Ações
    %tbody
      - @sells.each do |sell|
        %tr
          %td
            = sell.id
          %td
            = link_to (image_tag "edit.png", :alt => "editar cadastro"), edit_sell_path(sell)
            = link_to (image_tag "remove.png", :alt => "editar cadastro"), sell, :confirm => 'Deseja mesmo excluir esta Venda?', :method => :delete

= render :partial => 'layouts/mng_buttons', :locals => { :new_path => new_sell_path }
