<p id="notice"><%= notice %></p>

<div id="nota">
<h3> Nota fiscal </h3>

<ul>
<% for p in @sell.products %>
    <li>
    	<%= p.code.to_s + " - " + p.name + " - " + p.price.to_s %>
    </li>
<% end %>
</ul>

<%= link_to 'Editar os dados cadastrados', edit_sell_path(@sell) %> |
<%= link_to 'Continuar', sells_path %>

</div>
