.footer
  %p
    %span
      - if user_signed_in?
        = "Olá " + current_user.name
        = link_to "(Logout)", logout_path
      - else
        Nenhum usuário logado.
#design
  Powered by: PharmaCC Systems
