%p{ :align => "center" }
  %input{ :type => "submit", :value => what }
  \&nbsp;&nbsp;&nbsp;
  %input{ :type => "reset", :value => "Limpar" }
  \&nbsp;&nbsp;&nbsp;
  %input{ :type => "button", :value => "Gerenciar " + who, :onclick => "location.href='" + where + "'" }
