%p{ :align => "center" }
  %input{ :type => "button", :value => "Cadastrar novo", :onclick => "location.href='" + new_path + "'" }
  \&nbsp;&nbsp;&nbsp;
  %input{ :type => "button", :value => "Menu principal", :onclick => "location.href='" + root_path + "'" }
